<a href="https://colab.research.google.com/github/AsitSrivastava06/Pandas/blob/main/EXperiment_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Experiment-9
#Title-Study of Pandas Library
### NAME: ASIT SRIVASTAVA
#### BATCH:A2
#### PRN:25070123026

In [ ]:
#Introduction
#Pandas : panel data
'''used for:
structure data
EDA
data cleaning'''

'used for: \nstructure data\nEDA\ndata cleaning'

In [ ]:
import pandas as pd
s=pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
#Create DataFrame
dat={
    "Name":["A","B","C"],
    "Marks":[85,90,78]
}
df = pd.DataFrame(dat)
df

  Name  Marks
0    A     85
1    B     90
2    C     78

In [ ]:
df.head()
df.tail()

  Name  Marks
0    A     85
1    B     90
2    C     78

In [ ]:
#Find the structure of the dataframe
df.shape

(3, 2)

In [ ]:
df.ndim

2

In [ ]:
df.size

6

In [ ]:
#display column na name
df.columns

Index(['Name', 'Marks'], dtype='object')

In [ ]:
#check data types of each column
df.dtypes

Name     object
Marks     int64
dtype: object

In [ ]:
#Access Indivisual Column
df["Name"]

0    A
1    B
2    C
Name: Name, dtype: object

In [ ]:
#Access Specific Row
df.loc[1]

Name      B
Marks    90
Name: 1, dtype: object

In [ ]:
#Add a new column
df["Grade"]=["First class","Distinction","Second class"]
df

  Name  Marks         Grade
0    A     88   First class
1    B     90   Distinction
2    C     78  Second class

In [ ]:
#Update Data in DataFrame
#Change marks of stuent A to 88.
df.loc[0,"Marks"]=88
df

  Name  Marks         Grade
0    A     88   First class
1    B     90   Distinction
2    C     78  Second class

In [ ]:
#Delete a column
df.drop("Grade", axis=1, inplace=True)
df

  Name  Marks
0    A     88
1    B     90
2    C     78

In [ ]:
#Perform basic statistical analysis
mean1=df["Marks"].mean()
mean1

np.float64(85.33333333333333)

In [ ]:
median1=df["Marks"].median()
median1

88.0

In [ ]:
mode1=df["Marks"].mode()
mode1

0    78
1    88
2    90
Name: Marks, dtype: int64

In [ ]:
max1=df["Marks"].max()
max1

90

In [ ]:
min1=df["Marks"].min()
min1

78

In [ ]:
#apply condition (filtering)
#display students scoring more than 80.
df[df["Marks"]>80]

  Name  Marks
0    A     88
1    B     90